# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

OhMyBZH-Generator
data/*/*.shp
data/*/*.dbf
data/*/*.shx
data/*/*.cpg
data/*/*.html
data/*/*.txt
data/*/*.prj
data/*.zip
data/*.osm
data/*.osm.pbf
.vscode

*.png

build
db_settings

KartennGenerator
